@charset "UTF-8";

@font-face {
    font-family: awakenning;
    src: url(fontes/AWAKENNING\ Personal\ Use.ttf) format('truetype');
}

:root {
    --cor1: #787B94;
    --cor2: #3B3F61;
    --cor3: #9DA1C7;
    --cor4: #151833;
    --cor5: #0B0F33;
    --fonte1: Arial, sans-serif;
    --fonte2: awakenning, sans-serif;
}

body {
    font-family: var(--fonte1);
    margin: 0px;
    background-color: var(--cor3);
    background-image: url(imagens/fundo-mar.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #3B3F61;   
    width: 95.6vw;
    height: 100px;
    padding: 30px;
}

header h1 {
    font-family: var(--fonte2);
    font-weight: normal;
    font-size: 4em;
    color: white;
    text-align: center;
    margin-top: 0px;
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
}

